<style>
  .statistic {
    padding: 20px;
  }

  .statistic-background {
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    background: #fff url(/images/statistic/background.png) no-repeat fixed top;
    margin-top: 20px;
    height: 650px;
  }

  .statistic-background h1 {
    font-size: 40px;
    color: #303e51;
    font-weight: 400;
    padding-top: 20px;
    line-height: 80px;
  }

  .statistic-background h2 {
    font-size: 15px;
    color: #303e51;
    opacity: 0.8;
    font-weight: 400;
    padding: 0 0 50px 0;
  }

  .statistic-background p {
    padding: 20px;
    line-height: 50px;
    font-size: 14px;
    color: #888c91;
  }
</style>
<div class="statistic">
  <div class="statistic-background">
    <h1>数据图表化趋势分析</h1>
    <h2>运营数据一手掌握, 多维度统计运营细节; 财务数据一目了然, 让数据驱动业务增长</h2>
    <img src="/images/statistic/macbook.png">
    <p>统计功能需要“金水滴”会员才能使用，赶紧购买“金水滴”会员吧！</p>
  </div>
</div>

