<div class="xsd-modal xsd-md-modal" id="bang-ding">
    <div class="xsd-modal-header">
        <span class="xsd-font-size16">绑定银行卡</span><a class="xsd-modal-close iconfont">&#xe633;</a>
    </div>
    <div class="xsd-modal-body">
        <div class="container">
            <!--银行卡类型-->
            <div class="xsd-clearfix xsd-margin-b16">
                <p class="xsd-margin-b6">银行卡类型</p>
                <label class="xsd-pull-left xsd-input-group">
                    <input class="xsd-input area dis-color" id="cardType" name="cardType" type="text" title="银行卡类型" validate="required" disabled value="借记卡">
                </label>
            </div>
            <!--开户人姓名-->
            <div class="xsd-clearfix xsd-margin-b16">
                <p class="xsd-margin-b6">开户人姓名</p>
                <label class="xsd-pull-left xsd-input-group">
                    <input class="xsd-input area" id="ownerName" name="ownerName" type="text" title="开户人姓名" placeholder="请输入开户人姓名" validate="required"  value="">
                </label>
            </div>
            <!--身份证号码-->
            <!--<div class="xsd-clearfix xsd-margin-b16">-->
                <!--<p class="xsd-margin-b6">身份证号码</p>-->
                <!--<label class="xsd-pull-left xsd-input-group">-->
                    <!--<input class="xsd-input area" id="idCard " name="idCard" type="text" title="身份证号码" placeholder="请输入开户人身份证号码" validate="required|cardId"  value="">-->
                <!--</label>-->
            <!--</div>-->
            <!--选择银行-->
            <div class="xsd-clearfix xsd-margin-b16">
                <p class="xsd-margin-b6">选择银行</p>
                <label class="xsd-pull-left xsd-input-group xsd-select">
                    <i class="iconfont xsd-color-gray">&#xe63c;</i>
                    <input type="text" class="xsd-input area" id="selectBank" name="selectBank" type="text" title="选择银行" readonly=readonly placeholder="请选择银行" validate="required"  value="">
                    <ul>
                        <li>中国工商银行</li>
                        <li>中国农业银行</li>
                        <li>中国建设银行</li>
                        <li>中国银行</li>
                        <li>中国交通银行</li>
                        <li>招商银行</li>
                        <li>中信银行</li>
                        <li>中国光大银行</li>
                        <li>中国邮政储蓄银行</li>
                        <li>中国民生银行</li>
                        <li>上海银行</li>
                        <li>上海浦东发展银行</li>
                        <li>平安银行</li>
                        <li>华夏银行</li>
                        <li>广东发展银行</li>
                        <li>兴业银行</li>
                        <li>江苏银行</li>
                        <li>北京银行</li>
                        <li>宁波银行</li>
                        <li>浙江泰隆商业银行</li>
                    </ul>
                </label>
            </div>
            <!--开户行支行-->
            <div class="xsd-clearfix xsd-margin-b16">
              <p class="xsd-margin-b6">开户行支行</p>
              <label class="xsd-pull-left xsd-input-group">
                <input class="xsd-input area" id="subBranch" name="subBranch" type="text" title="开户行支行" placeholder="请输入开户行支行" validate="required"  value="">
              </label>
            </div>
            <!--银行卡号-->
            <div class="xsd-clearfix xsd-margin-b6">
                <p class="xsd-margin-b6">银行卡号</p>
                <label class="xsd-pull-left xsd-input-group">
                    <input class="xsd-input area" id="bankNumber" name="bankNumber" type="text" title="银行卡号" placeholder="请输入银行卡号" validate="required|numeric"  value="">
                </label>
            </div>
            <p class="xsd-font-size12 xsd-color-gray xsd-margin-b16"><b class="xsd-font-size12 xsd-color-success iconfont">&#xe620;</b>(请确保所绑定银行卡开户人与您所填写开户人一致，否则将导致绑定或提现失败。)</p>
            <!--预留手机号-->
            <div class="xsd-clearfix xsd-margin-b16">
                <p class="xsd-margin-b6">手机号</p>
                <label class="xsd-pull-left xsd-input-group" id="sendCode">
                    <input class="xsd-input area" id="phoneNumber" name="phoneNumber" type="text" title="预留手机号" disabled="disabled" placeholder="请输入预留手机号" validate="required|phone"  value={{auth.user.phone}}>
                </label>
            </div>
            <!--短信验证码-->
            <div class="xsd-clearfix xsd-margin-b16">
                <p class="xsd-margin-b6">短信验证码</p>
                <label class="xsd-pull-left xsd-input-group">
                    <i class="iconfont xsd-color-primary getValidate">
                        <input class="btnSendCode" type="button" onclick={{action "sendCode"}} value="获取验证码">
                    </i>
                    <input class="xsd-input" id="phoneValidate" name="phoneValidate" type="text" title="验证码"
                           placeholder="输入手机验证码" validate="required" value=''>
                </label>
            </div>

        </div>
    </div>

    <div class="xsd-modal-bottom xsd-clearfix">
          <div class="xsd-clearfix">
              <a class="xsd-btn xsd-btn-primary xsd-pull-right " onclick={{action "bindCard"}}>确定</a>
              <a class="xsd-btn xsd-btn-gray xsd-pull-right xsd-modal-close">取消</a>
          </div>
    </div>

</div>
