<div class="xsd-modal" id="editEmployerPassword">
    <div class="xsd-modal-header xsd-margin-b24">
        <span class="xsd-font-size16">重置员工密码</span><a class="xsd-modal-close iconfont">&#xe633;</a>
    </div>
    <div class="xsd-modal-body">
        <div id="passwordForm">
            <div class="container">
                <div class="xsd-clearfix xsd-margin-b12">
                    <label class="xsd-pull-left xsd-margin-r12">
                        <p class="xsd-margin-b6">设置新密码<i>*</i></p>
                        <input class="xsd-input area" type="text" placeholder="输入新密码" name="new_pwd" title="密码" id="new_pwd" validate="required|min[6]">
                    </label>
                </div>
                <div class="xsd-clearfix xsd-margin-b12">
                    <label class="xsd-pull-left xsd-margin-r12">
                        <p class="xsd-margin-b6">确认新密码<i>*</i></p>
                        <input class="xsd-input area" type="password" name="new_pwd2" placeholder="再次输入新密码" title="密码" id="new_pwd2" validate="required|eq[new_pwd]">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="xsd-modal-bottom xsd-clearfix">
        <div class="xsd-clearfix">
            <a class="xsd-btn xsd-btn-primary xsd-pull-right" onclick={{action "setPassword"}} >确定</a>
            <a class="xsd-btn xsd-btn-gray xsd-modal-close xsd-pull-right">取消</a>
        </div>
    </div>
</div>

