{{#link-to 'index' class="logo"}}
  <img src="../images/logo_blue.png" alt="水滴管家">
{{/link-to}}

<menu>
  {{#link-to 'index' class="icon icon-pc link-spacing"}}工作台{{/link-to}}
  {{#link-to 'rental' class="icon icon-signature"}}房源房态{{/link-to}}
  {{#link-to 'user' class="icon icon-chart-line"}}账务流水{{/link-to}}
  {{#link-to 'report' class="icon icon-chart-bar"}}经营分析{{/link-to}}
  {{#link-to 'work' class="icon icon-portfolio"}}营销中心{{/link-to}}
  {{#link-to 'finance' class="icon icon-bankcard"}}金融服务{{/link-to}}
  {{#link-to 'service' class="icon icon-handshake"}}增值服务{{/link-to}}
  {{#link-to 'uc' class="icon icon-tool"}}设置中心{{/link-to}}
</menu>

<div class="group-footer">
  {{#link-to 'helper' class="icon icon-lightbulb"}}帮助中心{{/link-to}}
  <a href="{{twin}}" class="icon icon-exchange link-twin">集中式</a>
</div>
