<div class="xsd-modal" id="modifyPassword">
    <div class="xsd-modal-header xsd-margin-b24">
        <span class="xsd-font-size16">修改密码</span><a class="xsd-modal-close iconfont">&#xe633;</a>
    </div>
    <div class="xsd-modal-body">
        <div id="public-form">
            <div class="container">
                <div class="xsd-clearfix xsd-margin-b12">
                    <label class="xsd-pull-left xsd-margin-r12">
                        <p class="xsd-margin-b6">注册手机号:<span>{{auth.user.phone}}</span></p>

                    </label>
                </div>
                <div class="xsd-clearfix xsd-margin-b24">
                    <label class="xsd-pull-left xsd-margin-r12 xsd-select">
                        <p class="xsd-margin-b6">验证手机</p>
                        <input class="xsd-input" name="code" id="code" placeholder="输入手机验证码" title="验证码" validate="required"/>
                        <a id="sendCode" class="xsd-btn xsd-btn-gray" onclick={{action "sendCode"}}>获取验证码</a>
                    </label>
                </div>
                <div class="xsd-clearfix xsd-margin-b12">
                    <label class="xsd-pull-left xsd-margin-r12">
                        <p class="xsd-margin-b6">设置新密码</p>
                        <input class="xsd-input" name="password" type="password" id="password" placeholder="输入新密码" title="新密码" validate="required|min[6]" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="xsd-modal-bottom xsd-clearfix">
        <div class="xsd-clearfix">
            <a class="xsd-btn xsd-btn-primary xsd-pull-right" onclick={{action "passwordSet"}}>确定</a>
            <a class="xsd-btn xsd-btn-gray xsd-modal-close xsd-pull-right">取消</a>
        </div>
    </div>
</div>

