<div class="xsd-modal" id="spreadAgreeMent">
  <div class="xsd-modal-header xsd-margin-b24">
     <span class="xsd-font-size16"></span><a class="xsd-modal-close iconfont">&#xe633;</a>
  </div>
<div class="head">房行授权协议</div>
<div>
  <p>

    本人授权水滴管家将本人提供给水滴管家的房屋信息，包含不限于发房人姓名、发房人联系方式、房屋详细介绍等信息授权平安集团，除法律另有规定之外，将本人提供的信息、享受平安集团服务产生的信息（包括本协议签署之前提供和产生信息）以及平安集团根据本条约定查询、收集的信息，用于平安集团为个人用户提供服务房源推广。同时配合完成平安集团针对房源推广带来的找房用户电话咨询、短信预约等承接服务。
  </p>
<p>
  本条所称“平安集团”是指中国平安（集团）股份有限公司直接或间接作为其单一最大股东的公司。
</p>
</div>
  <a class="xsd-modal-close btn">确定</a>
</div>

