<a id="agreement_btn" data-toggle="xsd-modal" data-target="#agreement"></a>
<div class="xsd-modal" id="agreement">
  {{terms-sign}}
  <a class="xsd-btn xsd-modal-close xsd-btn-primary" onclick={{action "readed"}}>已阅读,并同意</a>
</div>
