<div id="exceed">
    <img src="../images/500.png" alt="500"/>
    <p class="xsd-color-primary xsd-font-size16">抱歉!服务器被外星人袭击,结果页面被破坏!</p>
    <p class="xsd-color-primary xsd-font-size16">我们正在启动月球水滴1号服务器,请返回首页等待......</p>
    <a class="xsd-btn xsd-btn-primary xsd-font-size16" href={{model}}>返回首页</a>
</div>

