  <div id="helperCenter">
        <iframe id="ifr" name="ifr"  src="http://www.shuidiguanjia.com/index.php/page/index/id/38.html" width="100%" frameborder="0"  onload={{action "getHeight"}}></iframe>
  </div>
