{{#page-waper}}
    <div class="xsd-clearfix">
        <div id="screen" class="xsd-pull-left">
          {{#report-search types=types}}{{/report-search}}
        </div>
        <div id="report" class="xsd-pull-left">
            <div id="expend-detail" >
                <div id="Result-head">
                    <div id="Result-head-time-con">
                    <label class="xsd-input-group  xsd-margin-b16 xsd-Result-head">
                      {{pikaday-input id="start_date"  class="xsd-input" format="YYYY-MM-DD" placeholder="开始时间" readonly="readonly"}}
                    </label>
                        <span>-</span>
                    <label class="xsd-input-group xsd-Result-head">
                      {{pikaday-input id="end_date"  class="xsd-input" format="YYYY-MM-DD" placeholder="截止时间" minDate=tradeStartsAt  readonly="readonly"}}
                    </label>
                    </div>
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="select_year" type="text" data-value="" readonly placeholder="支付方式">
                        <ul>
                            <li data-value="2016">2016年</li>
                            <li data-value="2017">2017年</li>
                            <li data-value="2018">2018年</li>
                            <li data-value="2019">2019年</li>
                            <li data-value="2020">2020年</li>
                        </ul>
                    </label>
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="select_month" type="text" data-value="" readonly placeholder="支出类型">
                        <ul>
                            <li data-value="1">1月</li>
                            <li data-value="2">2月</li>
                            <li data-value="3">3月</li>
                            <li data-value="4">4月</li>
                            <li data-value="5">5月</li>

                        </ul>
                    </label>
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="select_month" type="text" data-value="" readonly placeholder="费用类型">
                        <ul>
                            <li data-value="1">1月</li>
                            <li data-value="2">2月</li>
                            <li data-value="3">3月</li>
                            <li data-value="4">4月</li>
                            <li data-value="5">5月</li>
                        </ul>
                    </label>
                    <label class="xsd-input-group xsd-select xsd-margin-b16 xsd-Result-head">
                        <i class="iconfont">&#xe63c;</i>
                        <input class="xsd-input" id="select_month" type="text" data-value="" readonly placeholder="费用名称">
                        <ul>
                            <li data-value="1">1月</li>
                            <li data-value="2">2月</li>
                            <li data-value="3">3月</li>
                            <li data-value="4">4月</li>
                            <li data-value="5">5月</li>

                        </ul>
                    </label>
                    <a class="Result-head-btn" href="###">筛选</a>

                    <a class="Result-head-right-btn"
                       href="#####">导出报表</a>

                </div>

                <div id="Result-data">
                 <table>
                     <tr>
                         <td>日期</td>
                         <td>收款人</td>
                         <td>人员类型</td>
                         <td>交易信息</td>
                         <td>支付方式</td>
                         <td>支出类型</td>
                         <td>费用类型</td>
                         <td>费用名称</td>
                         <td>账单周期</td>
                         <td>费用金额</td>
                         <td>备注</td>
                     </tr>
                     <tr>
                         <td>2016.06.14</td>
                         <td>路计费</td>
                         <td>业主</td>
                         <td>玉兰玉兰玉兰玉兰玉兰玉兰</td>
                         <td>支付宝</td>
                         <td>托管合同书</td>
                         <td>租房</td>
                         <td>租金</td>
                         <td>2016.06.16-2017.06.16</td>
                         <td>-8000</td>
                         <td>此处为备注</td>
                     </tr>
                     <tr>
                         <td>2016.06.14</td>
                         <td>路计费</td>
                         <td>业主</td>
                         <td>玉兰玉兰玉兰玉兰玉兰玉兰</td>
                         <td>支付宝</td>
                         <td>托管合同书</td>
                         <td>租房</td>
                         <td>租金</td>
                         <td>2016.06.16-2017.06.16</td>
                         <td>-8000</td>
                         <td>此处为备注</td>
                     </tr>
                     <tr>
                         <td>2016.06.14</td>
                         <td>路计费</td>
                         <td>业主</td>
                         <td>玉兰玉兰玉兰玉兰玉兰玉兰</td>
                         <td>支付宝</td>
                         <td>托管合同书</td>
                         <td>租房</td>
                         <td>租金</td>
                         <td>2016.06.16-2017.06.16</td>
                         <td>-8000</td>
                         <td>此处为备注</td>
                     </tr>
                 </table>

                </div>

            </div>

        </div>
    </div>
{{/page-waper}}

