#message{
  #tools{
    border-bottom: 1px #e7e7e7 solid;
  }
  #tools+ul{
    width: 100%;
    li{
      position: relative;
      margin-top: 16px;
      line-height: 24px;
      span,a{
        width: 116px;
        position: absolute;
        top: 0px;
      }
      a{
        text-align: center;
        color: #59acff;
        //position: absolute;
        right: 0px;
      }
      span{
        text-align: left;
        left: 0px;
        i{
          font-size: 80px;
          color: #e7e7e7;
          margin-right: 6px;
          margin-top: -72px;
          display: inline-block;
          &.active{
            color: #56cc8d;
          }
        }
      }
      p{
        min-width: 69%;
        margin: 0px 130px 0px 130px;
      }
    }
  }
}
